.kom{
width: 200px;
height: 200px;
border: 3px solid black;
font-size: 190px;
text-align: center;
font-family: monospace;
}
.row{
display: flex;
}
body{
    background-color: crimson;
    text-align: center;
}
